In [1]:
import pandas as pd
import sqlalchemy

In [6]:
engine =sqlalchemy.create_engine('mysql+pymysql://root:priya123@localhost:3306/sai')

In [8]:
df = pd.read_sql_table('student',engine)
df

     name college
0  naveen   bbcit
1     sai    cbit

In [11]:
df1=pd.DataFrame({"name":["sai","priya","reetha","hari"],
                 "age":[25,23,26,25]})
df1

     name  age
0     sai   25
1   priya   23
2  reetha   26
3    hari   25

In [16]:
df1.to_sql(
    name='customers', # database table name
    con=engine,
    if_exists='append',
    index=False
)

In [17]:
pd.read_sql("customers",engine)

     name  age
0     sai   25
1   priya   23
2  reetha   26
3    hari   25